#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.completedTask {
  color:white;
  background-color:rgb(40, 177, 40);
  font-weight:bold;
  border-radius: 4px;
  border:2px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
  
}
.deleteButton {
  padding:0;
  padding-left: 0.5rem;
  border:none;
  background-color: transparent;
}